.tableStylingBallJump{
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #003366;
	border-bottom: 7px solid #003366;
	width:50%;	
}

.tableStylingBallJump td{
	border-right: 1px solid #003366;
	border-left: 1px solid #003366;
	padding: 8px;
}
.divideBallJumpTable{
	width:50%;
}