body{
	
	/*font-family: 'cutive mono', monospace;*/
	font-family: 'Monaco', 'Courier New';
	line-height:20px;
	overflow-x:hidden;
	font-size:12.5px;
	background-color: #ddd;
}
.paddingTopAndBottom{
	padding-top:30px;
	padding-bottom: 30px;
}
.pageHeader{
	font-size:2em;
}

#nav-list div{
	padding:20%;

}
#nav-list a{
	color:black;
}
#nav-list{
	position:fixed;
	background-color:rgba(255,255,255,1);
	height:100%;
	width:200px;
	top:75px;
	right:-200px;
	z-index:6;

	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.css-navList-add, .css-navList-remove {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.css-navList,
.css-navList-add.css-navList-add-active {
	margin-right: 200px;
	z-index: 6;
}

.css-navList-remove.css-navList-remove-active {
	margin-right: 0px;
	z-index: 1;
}





#overlay{
	position: fixed;
	left:0;
	top:0;
	height:100%;
	width: 100%;
	
}

.css-overlay-add, .css-overlay-remove {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.css-overlay,
.css-overlay-add.css-overlay-add-active {
	background-color:rgba(0,0,0,0.5);
	z-index: 5;
}

.css-overlay-remove.css-overlay-remove-active {
	background-color:rgba(0,0,0,0);
}

a:hover{
	text-decoration: none;
	cursor: pointer;
}


.generalPaddingTop{
	padding-top:10px;
}
.generalPaddingBottom{
	padding-bottom:10px;
}
.customNavbar{
	position:fixed;
	height:75px;
	z-index:1;
	font-size: 20px;
	width:100%;

	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.mainImage{
	background-size: 100%;
	margin-bottom:0px;
}
.introTextMobileScreen{
	height:300px;
	position: fixed;
	width: 100%;
	
}
.introText{
	color:white;
	background-color:rgba(0,0,0,0.8);
	text-align:center;
	width:100%;
	color: white;
	font-size: 1.3em;
	line-height: 2em;
	/*height:100px*/;
	/*line-height:100px*/;
}
.openQuotationIntroText{ 
    top: 40%;
    left:7%;
    height: 100%;    
}
.openQuotationIntroText img{  
    height: 5%;
    
    
}
.closeQuotationIntroText{
    top: 40%;
    right:7%;
    height: 100%;    
}
.closeQuotationIntroText img{
    height: 5%;    
}

.circle {
margin-left: auto;
margin-right: auto;
border-radius: 50%;
width: 100%;
position: relative;
background-color:rgba(255,255,255,0.8);
}

.circle-border {
border: 1px solid black;
}


.circle.active{
	-webkit-transition: background-color 1.5s; /* Safari */
    transition: background-color 1.5s;
}


.circle:before {
content: "";
display: block;
padding-top: 100%;
}

.circle-inner {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
}
.score-text {
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: 1em;
line-height: 1em;
font-size: 1em;
}
.score-text {
height: 3vw;
line-height: 3vw;
font-size: 3vw;
}


.socialIcon{
	height: 100%;
	width:100%;
}
.socialIcon:hover{
	background:rgba(0,0,0,.75);
	-webkit-transition: opacity .25s ease;
    transition: opacity 0.5s;

	opacity:0.5;
	z-index:1;
}

.console{
	padding:40px;
	color:#ccc;
	font-family: 'Monaco', 'Courier New';
	line-height:20px;
	font-size:13px;
	margin-left: auto;
	margin-right: auto;
	background-color: #383737;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px
}
.consoleUI{
	border-radius: 10px;
	margin: 0 auto;
	background: #ccc;
	height: 50px;
	color: #fafafa;
	margin-bottom: -20px
}
.nav-parent{
	position:fixed;
	width:100%;
	z-index:6;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #cccccc;
  position: absolute;
  display: block;
  content: '';
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px; 
}
#nav-toggle, #nav-toggle span:before, #nav-toggle span:after{
   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}


#nav-toggle.actives{
  -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}



.iconBarBtn{
	height: 75px;
	background-color: transparent;
	border: 0;
	width:35px !important;

}
input{
	height:25px;
	text-indent: 2px;
	font-size:13px;
	width: 100%;
}
textarea{
	width:100%;
	height:130px;
}

#contact input, #contact textarea{
	background-color:#a14141;
	margin-bottom: 1%;
	border:none;
	width:100%;
	color:rgb(196, 196, 196);
}
.warningMessage{
	color:red;
}

.project{
	position:absolute;
	bottom:0;
	background-color:rgba(0,0,0,0.6);
	color:white;
	width:100%;
	padding:1em;
	text-align:justify;
}
#projects [class*="col-"] {
    background-clip: padding-box;
    border: 10px solid transparent;
}



.orangeBtn{
	white-space: nowrap;
	text-align: center;
	vertical-align: baseline;
	cursor: pointer;
	border: 0;
	padding: 0.25em 0.95em;
	background: none;
	border: 2px solid #CC6600;
	color: #FFF;
	text-decoration: none;
	font-weight: 500;
	outline: 0;
}

.orangeBtn:hover,.orangeBtn:active,.orangeBtn:visited,.orangeBtn:link{
	color: #FFF !important;
	background-color: #EE8822 !important;
	border: 2px solid #CC6600 !important;
	cursor: pointer;
}

/*input.ng-dirty.ng-invalid{
	border: 4px solid red !important;
}*/

input.ng-valid{
	border: 4px solid #68c2c2 !important;
}
textarea.ng-dirty.ng-valid{
	border: 4px solid #68c2c2 !important;	
}
#contactFormBtn{
	cursor: pointer;
}


.tag-skill{
	border: 1px solid #50a9d1;
	margin-right: 10px;
	text-transform: uppercase;
	font-weight: 500;
	width: auto;
	display: inline-block;
	font-size: 11px;
	line-height: 1.33333em;
	padding: 7px 18px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}
#menuButton:active, #menuButton:focus{
	outline: none;
}

.error {
  background-color: rgba(255, 0, 0, 0.2);
}
.submissionMessage {
  display: block;
  color: #68c2c2;
  font-weight: bold;
}
.spinner{
    background: url("../images/spinner.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 8;
    background-size: 50px;
}
canvas#flappy-canvas {
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
