<nav   class="nav-parent">
		<div class="customNavbar" style="position:absolute;text-align:center;line-height:75px;color:black;background-color:white;">Hassan Ali</div>
		<div style="position:relative;" class="customNavbar">
			<div style="margin-right:35px;" class="pull-right">
				<button  id="menuButton" ng-click="menuBarAnimate()" class="iconBarBtn"type="button">
			        
			        <a style="width:35px;display:block;" id="nav-toggle"><span></span></a>
			        
		      </button>		
			</div>
		</div>		
</nav>

<div style="background-color: rgb(255,255,245);overflow-y:auto;font-size:20px;" id="nav-list"  ng-class="myCssVar">
	<div ng-repeat="item in nav_list" class="text-center"><a ng-click="scrollTo(item.href);menuBarAnimate();">{{item.text}}</a></div>
</div>