<div ng-init="init()" class="paddingTopAndBottom" style="background-color:{{backgroundColor}}">
	<div id="cricketRobot" class="container">
		<div class="pageHeader">THE CRICKET BOT</div><hr>	
		<div style="margin-top:30px;">
			
			<div style="text-align:center;"><img style="width:{{robotWidth}};height:{{robotHeight}};" src="images/robot.png"> </div>
			<div style=""><p>The Cricket Bot is an autonomous robot built with the Lego Mindstorms kit by a team of 6 students at McGill. The challenge was to build an autonomous robot navigating a maze full of obstacles (wood blocks), and to reach an optimal position from where it would launch balls towards a pre-specified target.
			Our team members included:</p><ol><li>Alexandre Selesse</li><li>Franois Parent</li><li>Arthur Kam</li><li>Kaichen Wang</li></ol>
			</div>
			<div style="text-align:center;">
				<div class="font_subHeader">Demo Beta Video</div><br>
				<div><iframe width="{{videoWidth}}" height="{{videoHeight}}" src="http://www.youtube.com/embed/dR2OUn0EqLA"  frameborder="0" allowfullscreen></iframe></div>
			</div>
		</div>

	</div>	
</div>


<div ng-include="'views/footer.html'"></div>

