<div ng-init='spinner()' class="spinner"></div>	
<div ng-init="init()" class="paddingTopAndBottom" style="background-color:{{backgroundColor}}">
	<div class="container">
		<div id="dontgiveup">
			<div class="pageHeader">{{title.dontgiveup}}
			</div>
			<hr>					
			<div style="margin-top:30px;">
				<div>
					<iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/H7pwYZbKCOw" frameborder="0" allowfullscreen></iframe>
				</div>				
				<div style="text-align:{{textAlign}}">
					<p>This is a fan-made video. Program used: Sony Vegas Pro 10.0</p>
					<p><span class="font_subHeader">Video script/lyrics:</span></p>
					<p>"Don't ever let someone tell you, you can't do something. Not even me. You got a dream, you gotta protect it. People can't do something themselves, they wanna tell you that you can't do it. You want something? Go get it. Period. "</p>
					<p>This kids gonna be the best kid in the world.</p>
					<p>This kids gonna be somebody better than anybody I ever knew.</p>
					<p>All you chumps are gonna bow when I whoop him, all of you, I know you got him, I know youve got him picked, but the mans in trouble, Ima show you how great I am.</p>
					<p>But somewhere along the line you changed, you stopped being you.
						You let people stick a finger in your face and tell you youre no good, and when things got hard, you started looking for something to blame, like a big shadow.
						Let me tell you something you already know, the world aint all sunshine and rainbows, its a very mean and nasty place and I dont care how tough you are, it will beat you to your knees and keep you there permanently if you let it.
						You, me, or nobody, is gonna hit as hard as life; but it aint about how hard you hit, its about how hard you can get hit and keep moving forward, how much you can take and keep moving forward.
						Thats how winning is done.</p>
					<p>Our deepest fear is not that we are inadequate.
						Our deepest fear is that we are powerful beyond measure.
						It is our light, not our darkness that most frightens us.
						Your playing small does not serve the world.
						There is nothing enlightened about shrinking so that other people won't feel insecure around you.
						We are all meant to shine, as children do.
						It's not just in some of us; it's in everyone.
						And as we let our own light shine, we unconsciously give other people permission to do the same.
						As we are liberated from our own fear, our presence automatically liberates others.</p>	
				</div>
			</div>
		</div>	
	</div>
</div>
<div ng-include="'views/footer.html'"></div>

