<div class="spinner"></div>	
<div style="display:none;" class="overlay">© 2015 Hassan Ali.</div>

<div ng-init="spinner();">
	<!-- Navbar -->
	<div ng-include="'views/nav.html'"></div>
			
	<!-- Main Jumbotron -->
	<div id="main">
		<div id="mainJumbotron" style="padding-top:0;padding-bottom:0;height:100%;background-color:#052D3D;background-image:url('images/stars.png');" class="mainImage">
			<div style="height:100%;;width:100%;"  class="introText">
				<div class="text-center">
					<img class="profile-img" src="images/my-picture.png">
				</div>
				<div class="bio-text">
					I am fueled by the challenge of conquering the latest advances in programming and 	technology. My goal is to create code that is clean, functional, and always up to standards.
				</div>

			</div>

		</div>
	</div>
	
	
	<!--About Me -->
	<div style="-webkit-transform: translate3d(0,0,0);">		
		<div id="aboutme">
			<div class="animation-anchor">
				<div id="cloud1"><img src="images/cloud1.png"></div>
				<div id="cloud2"><img src="images/cloud2.png"></div>
				<div id="cloud3"><img src="images/cloud3.png"></div>
				<div id="cloud4"><img src="images/cloud4.png"></div>
				<div id="tree" class="animation-anchor">
					<img style="height:300px;" src="images/tree.svg"></div>
				<div class="animation-anchor" id="water_drop">
					<img style="height:90px;" src="images/water-drop.svg">
				</div>
				<div id="hero">
					<img src="images/hero.png">
				</div>
			</div>
				
			<!--Console-->
			<div class="container">
				<div  style="position:relative;z-index:2;">
					<h2>About me</h2>
					<div style="margin-top:30px;" class="consoleUI"></div>
					<div style="" class="console">
					 &gt; Hassan.origin<br>
					 <span class="answer">=&gt; "Montreal, QC"</span><br><br>
					 &gt; Hassan.education<br>
					 <span class="answer">=&gt; "McGill University"</span><br><br>
					 &gt; Hassan.major<br>
					 <span class="answer">=&gt; "Computer Engineering"</span><br><br>
					 &gt; Hassan.expectedGraduation<br>
					 <span class="answer">=&gt; "December 2016"</span><br><br>
					 &gt; Hassan.interests<br>
					 <span class="answer">=&gt; ["Code", "Design", "sports", "music", "coffee"]</span><br><br>
					 &gt; Hassan.workExperience.latest<br>
					 <span class="answer">=&gt; "Latest Work Experience"</span><div class="workExperienceMargin">company: "IBM"<br>role: "Emerging Technology Application Developer"<br>startDate: "May 2014"<br>endDate: "August 2015"</div><br>
					 &gt; Hassan.resume<br>
					 <span id="resume" class="answer">=&gt; "<a target="_blank" href="https://www.dropbox.com/s/5vlx8c5nbwfksok/hassanali.pdf?dl=0">hassanali.pdf</a>"</span><br><br>
					 &gt; Hassan.email<br>
					 <span class="answer">=&gt; "<a target="_blank" href="mailto:hassan.ali@mail.mcgill.ca">hassan.ali@mail.mcgill.ca</a>"</span><br><br>
					 &gt; Hassan.github<br>
					 <span class="answer">=&gt; "<a target="_blank" href="https://github.com/helfi92">github.com/helfi92</a>"</span><br><br>
					</div>					
				</div>
			</div>
		</div>

		<!-- Projects -->
		<div id="projects">			
			<div class="animation-anchor" id="wheel" style="position:absolute;top:-75px;z-index:1;right:30px;"><img style="height:150px;"src="images/hanging-lightbulb.gif"></div>

			<div style="padding-top:20px;padding-bottom:10px;" class="container">
				<h2>Featured Projects</h2>
				<div  class="project-container col-md-4 col-sm-6" ng-repeat="item in projects">
					<div>
						<a  target="{{item.target}}" ng-href="{{item.href}}">
							<img ng-src="{{item.image}}" />
						</a>
					</div>	
					<div class="description">
						{{item.description}}
					</div>
				</div>
			</div>
		</div>


		<!-- Social -->
		<div id="social">
			<div style="padding-top:20px;padding-bottom:40px;"class="container">
				<h2>Let's Socialize</h2>
				<div style="position:relative;margin-bottom:40px;" class="col-xs-4" ng-repeat="item in social" >
					<div style="position:relative;max-height:200px;max-width:200px;margin:0 auto;" ng-mouseenter="socialText = true" ng-mouseleave="socialText = false">
						<a target="_blank" ng-href="{{item.href}}">
							<div style="background-color:{{item.backgroundColor}};border-radius:10%;">
								<img style="border-radius:10%;" class="socialIcon" ng-src="{{item.image}}">
							</div>
						
							<div ng-class="{animated: socialText, fadeIn: socialText,socialOverlay: socialText}" ng-show="socialText" class="social-overlay-text">
								<div style="position:absolute;top:40%;text-align:center;width:100%;padding:10px;"><h5>{{item.overlayText}}</h5></div>
							</div>
						</a>
					</div>		
				</div>
			</div>	
		</div>


		<!-- Contact -->
		<div style="background-image:url('images/stars.png');" id="contact">
			<!-- Form -->
			<div style="padding-top:20px;padding-bottom:20px;" class="container">
				<h2>Contact</h2>
				<div class="col-md-6 col-xs-12" style="position:relative;z-index:1;padding-left:0;padding-right:0;">
						<form ng-controller="FormController" ng-submit="submitForm()" name="frm">
								<div style="color:white;padding-bottom:20px;font-size:14px;">Looking forward to answering your email</div>
								<table  style="width:100%;position:relative;">
									<tbody>
										<tr><td><input id="name" ng-model="formData.name" placeholder="Name" type="text" name="name" required ng-class="{'error' : errorName}"></td></tr>
										<tr><td><input ng-model="formData.email" id="email" placeholder="Email" type="email" name="email" ng-class="{'error' : errorEmail}" required></td></tr>
										<tr><td><input ng-model="formData.subject" id="subject" placeholder="Subject" type="text" name="subject" required></td></tr>
										<tr><td><textarea ng-class="{'error' : errorTextarea}" ng-model="formData.message" id="message" placeholder="Message" type="text" name="message" required></textarea></td></tr>
										<tr><td style="width:100%;"><span ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage"></span><button name="Submit" ng-model="submitButton" ng-disabled="frm.$invalid" type="submit" id="contactFormBtn" style="float:right;color:white;" class="btn btn-primary btn-danger">Send</button></td></tr>										
									</tbody>								
								</table>
						</form>
				</div>		
			</div>
			<!-- Contact images -->						
			<div class="contact-bridge">
				<img style="width:100%;"src="images/bridge.png">
			</div>
			<div class="animation-anchor" id="pedicab">
				<img src="images/pedicab.png">
			</div>
		</div>

	</div>
</div>
