<div ng-init='spinner()' class="spinner"></div>	
<div ng-init="init()" class="paddingTopAndBottom" style="background-color:{{backgroundColor}}">
	<div class="container">
		<div id="itsPossible">
			<div class="pageHeader">{{title.itspossible}}
			</div>
			<hr>					
			<div style="margin-top:30px;">
				<div>
					<iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/zv5w2O0G9KM" frameborder="0" allowfullscreen=""></iframe></div>
					<div style="text-align:{{textAlign}}">
						<p>This is a fan-made video. Program used: Sony Vegas Pro 10.0</p>
						<p><span class="font_subHeader">Video script/lyrics:</span></p>
						<p>PAIN IS TEMPORARY! It may last for a minute, or an hour, or a day, or even a year. But eventually it will subside and something else will take it's place. If I quit however, it will last forever.</p>
						<p>I dare you to take a little pain. I dare you. I dare you not to go home. Somebody said "I feel bad, I'm gonna go home." Go through it. 
							Your not going to die! At the end of pain is success. 
							Your not gonna die because you're feeling a little pain. 
							I'm not eating like I eat at home. That's why you're going to go to the next level, 
							because if you ate like you ate at home, you're going to remain a boy or a girl. Its time to become men and women.</p>
						<p>But I'm exactly where I want to be because I got to commit my entire being to this thing. 
							I got to breath it, sleep it, eat it. Until you get there, you'll never be successful in life. 
							But once you get there, I guarantee you the world is yours. So work hard and you can have whatever it is that you want</p>
					</div>				
			</div>
		</div>	
	</div>
</div>


<div ng-include="'views/footer.html'"></div>