<nav class="nav-parent">		
	<div style="margin-right:35px;" class="pull-right">
		<button  id="menuButton" ng-click="toggleMenu()" class="iconBarBtn"type="button">	   
	        <a style="width:35px;display:block;" id="nav-toggle">
	        	<!-- hamburger icon -->
	        	<span></span>
	        </a>	        
      </button>		
	</div>
</nav>


<div id="nav-list" ng-class="myCssVar">
    <img class="close-nav-menu" ng-click="toggleMenu()" src="images/close-nav-icon.svg"/>
	<div ng-repeat="item in nav_list" class="text-center">
		<a ng-click="scrollTo(item.href);toggleMenu();">{{item.text}}</a>
	</div>
</div>