<nav class="nav-parent">		
	<div style="margin-right:35px;" class="pull-right">
		<button  id="menuButton" ng-click="toggleMenu()" class="iconBarBtn"type="button">	   
	        <a style="width:35px;display:block;" id="nav-toggle">
	        	<!-- hamburger icon -->
	        	<span></span>
	        </a>	        
      </button>		
	</div>
</nav>


<div style="background-color: rgb(255,255,245);overflow-y:auto;font-size:20px;" id="nav-list"  ng-class="myCssVar">
	<div ng-repeat="item in nav_list" class="text-center"><a ng-click="scrollTo(item.href);toggleMenu();">{{item.text}}</a></div>
</div>